.node {
    fill: gainsboro;
}

.map {
    border: 1px solid gray;
    border-radius: 8px;
    margin: 8px;
    background-color: whitesmoke;
    flex-grow: 1;
}

.grid line {
    stroke: gray;
    stroke-opacity: 0.75;
    shape-rendering: crispEdges;
    stroke-dasharray: 2,2;
}
